
@{
    ViewBag.Title = "LogsView";
}

<h2>Logs</h2>
@model WebApplication2.Models.LogsModel

<input type="text" id="logType" size="5" />
<input type="button" id="btnSearch" value="Search" />
<br />
<table class="table" id="logs">
    <tr> 
        <th>Type</th>
        <th>Message</th>
    </tr>
    

</table>
<script>
        $("#btnSearch").click(function () {
            var input = $("#logType").val();
        foreach (item in Model.MessageList)
        {
            if (item.Status == input) {
                $("#logs").append("<td>" + item.Status + "</td>" + "<td>" + item.Message + "</td>");
            }
        }
        
    });
</script>