
@{
    ViewBag.Title = "ViewPhotoView";
}

<h2>ViewPhotoView</h2>


@model WebApplication2.Models.ViewPhotoModel

<!DOCTYPE html>
<html>
<body>
                        
   <img src=@Model.photo.Path alt="" style="border-radius:50%">
                      
</body>
</html>




