<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\linoy cohen\Desktop\LINOY3;C:\Users\linoy cohen\Desktop\LINOY4"/>
    <add key="OutputDir" value="\Users\linoy cohen\Desktop\LINOY3\output;\Users\linoy cohen\Desktop\LINOY4\output"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key ="ThumbnailSize"  value ="120"/>
  </appSettings>
</configuration>